<!DOCTYPE html>
<html>
<head>
    {% include "backend/head.html" %}
    <link href="static/css/backend/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/backend/lib/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <link href="static/css/backend/lib/jquery.toastmessage.css" rel="stylesheet" type="text/css">

    <link href="static/css/backend/src/main.css" rel="stylesheet" type="text/css">
    <script src="static/js/backend/lib/jquery-2.0.3.min.js"></script>
    <script src="static/js/backend/lib/bootstrap.min.js"></script>
    <script src="static/js/backend/lib/jquery.dataTables.min.js"></script>
    <script src="static/js/backend/lib/jquery.toastmessage.js"></script>
    <script src="static/js/backend/lib/jquery.form.js"></script>
    <script src="static/js/backend/lib/jquery.validate.min.js"></script>
    <script src="static/js/backend/src/config.js"></script>
    <script src="static/js/backend/src/functions.js"></script>
    <script src="static/js/backend/src/categoriesMgr.js"></script>
</head>
<body>
{% include "backend/header.html" %}
{% include "backend/menu.html" %}

<section class="right">
    <article class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">地点管理</h1>
            </div>
            <div class="panel-body" id="opt-body">
                <form class="form-horizontal" id="myForm" action="admin/category/create" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-2">名称*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-success">添加</button>
                        </div>
                    </div>
                </form>
                <table id="myTable" class="dataTable">
                    <thead>
                    <tr>
                        <th>名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr>
                        <td>dddddddd</td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>


<div class="loading hidden" id="loading">
    <span class="text">Loading...</span>
</div>


</body>
</html>