<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>发布系统</title>
    <base href="http://localhost/hncms/" />
    <link type="text/css" rel="stylesheet" href="static/css/backend/src/login.css">
</head>
<body>

    <form class="loginForm" method="post" action="#" name="login_user_form">
        <span class="loginIcon">登陆图标</span>
        <h1 class="logo">湖湘文化</h1>
        <div class="row">
            <label class="ctrlLabel">邮箱</label>
            <input class="ctrlInput icon1 bgLc" type="text" name="email">
        </div>
        <div class="row">
            <label  class="ctrlLabel">密码</label>
            <input class="ctrlInput icon2 bgLc" type="password" name="password">
        </div>
        <div class="row">
            <input type="submit" class="ctrlBtn" value="登陆">
        </div>
        <label class="error">错误提示</label>
    </form>
</body>
</html>