<nav class="left">
    <ul class="menu">
        <li class="item">
            <span class="glyphicon glyphicon-home"></span>
            <a class="link" href="admin/location">地点管理</a>
        </li>
        <li class="item">
            <span class="glyphicon glyphicon-book"></span>
            <a class="link" href="admin/category">分类管理</a>
        </li>
        <li class="item">
            <span class="glyphicon glyphicon-file"></span>
            <a class="link" href="admin/article">文章管理</a>
        </li>
        <li class="item">
            <span class="glyphicon glyphicon-music"></span>
            <a class="link" href="admin/article/article_music">音乐管理</a>
            <!--<span class="glyphicon glyphicon-chevron-down rightIcon"></span>
            <ul class="subMenu">
                <li class="sItem">
                    <span class="circle">原点</span>
                    <a class="sLink"  href="#">新建</a>
                </li>
                <li class="sItem">
                    <span class="circle">原点</span>
                    <a class="sLink"   href="#">管理</a>
                </li>
            </ul>-->
        </li>
        <li class="item">
            <span class="glyphicon glyphicon-film"></span>
            <a class="link" href="admin/article/article_video">视频管理</a>
        </li>
    </ul>
</nav>